@media screen and (min-width: 44em) {
  /* Tabs - Operations */
  .operations__content {
    padding: 2.5rem 7rem 6.5rem 7rem;
  }

  .operations__content--active {
    display: grid;
    grid-template-columns: 7rem 1fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
  }

  .operations__tab-container {
    display: flex;
    justify-content: center;
  }

  .operations__tab {
    margin-left: 0;
    transform: translateY(-50%);
  }

  .operations__tab--3 {
    margin: 0;
  }

  .operations__tab--active {
    transform: translateY(-66%);
  }

  .inner-tabs {
    display: none;
  }
}

@media screen and (min-width: 59em) {
  .btn-mobile-nav {
    display: none;
  }
  .main-nav {
    position: static;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    background: none;
    height: auto;
    justify-content: flex-end;
  }

  .nav__links {
    flex-direction: row;
    gap: 1rem;
  }

  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
  }
  .hero-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
  }

  .header__img {
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    width: 100%;
  }

  .features {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 3em;
  }

  /* Modal */
  .modal__form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
  }
  .needs,
  .accept-terms {
    grid-column: span 2;
    grid-row: span 2;
  }
}
