:root {
  --color-primary: #00b8a9;
  --color-secondary: #fdd55d;
  --color-tertiary: #f6416c;
  --color-primary-darker: #019185;
  --color-secondary-darker: #f0b504;
  --color-tertiary-darker: #fa0e45;
  --color-primary-opacity: #00b8a93a;
  --color-secondary-opacity: #ffde7d31;
  --color-tertiary-opacity: #f6416c2d;
  --gradient-primary: linear-gradient(to top left, #00b8a9, #a4ece6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

/* GENERAL ELEMENTS */
.section {
  padding: 10em 3em;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 4em auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: clamp(2.5rem, 4vw, 4rem);
  line-height: 1.3;
  font-weight: 500;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.5em 1.25em;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
  color: #fff;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

p {
  color: #666;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* NAVIGATION */

/* nav and sticky class at the same time */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 9.6rem; */
  padding: 0 min(4.8rem, 5vw);
  max-width: 120rem;
  margin: 0 auto;
}
.main-nav {
  background: rgba(255, 255, 255, 0.97);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;

  opacity: 0; /* Hide visually */
  pointer-events: none; /* Unaccessible to mouse & keyboard */
  visibility: hidden; /* Hide it from screen readers */
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

/* Mobile Nav */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  z-index: 100;
}
.fa-solid {
  color: #333;
  text-align: center;
  vertical-align: bottom;
  font-size: clamp(3rem, 6vw, 4.8rem);
}

.nav-open .fa-bars {
  display: none;
}
.fa-xmark {
  display: none;
}
.nav-open .fa-xmark {
  display: block;
}

/* Sticky NAV */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.nav__logo {
  height: clamp(7em, 8vw, 10em);
  transition: all 0.3s;
  vertical-align: middle;
  padding: 1em 0;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  flex-direction: column;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 3rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #fff;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #fff;
}

/* HEADER */

.hero-section {
  flex: 1;
  padding: 6rem 3rem 6rem 5rem;
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.hero-section-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  padding-left: 1rem;
}

h1 {
  font-size: clamp(4rem, 4.5vw, 5.5rem);
  line-height: 1.35;
}

h4 {
  font-size: clamp(1.8rem, 2vw, 2.4rem);
  font-weight: 500;
}

.header__img {
  width: clamp(20rem, 67vw, 45rem);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* FEATURES */

.features__img {
  width: 100%;
  margin-bottom: 4em;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 80%;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  margin: 0 auto 3em;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* OPERATIONS */
.operations {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: 2em auto 0 auto;

  background-color: #fff;
  padding: 2em 0;
  border-radius: 3%;
}

.operations__tab-container {
  display: none;
}

.operations__tab {
  margin: 0.1em 1.7em;
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  color: #fff;
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: clamp(1.4rem, 2vw, 1.7rem);
  padding: 2em;
}

.operations__content--active {
  display: block;
}

.operations__header {
  font-size: clamp(1.25rem, 4.5vw, 2.25rem);
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(4.5rem, 14vw, 7rem);
  width: clamp(4.55rem, 14vw, 7rem);
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.operations__icon svg {
  height: clamp(1.75rem, 5vw, 2.75rem);
  width: clamp(1.75rem, 5vw, 2.75rem);
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}
.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}
.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}
.operations__icon--2 svg {
  fill: var(--color-primary);
}
.operations__icon--3 svg {
  fill: var(--color-tertiary);
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -3.7rem;
  left: -4.8rem;
  line-height: 1;
  font-size: clamp(10rem, 15vw, 20rem);
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: clamp(1.5rem, 2vw, 2.25rem);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: clamp(1.25rem, 2vw, 1.7rem);
  margin-bottom: 2em;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: clamp(1.25rem, 2vw, 1.7rem);
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: clamp(1.15rem, 2vw, 1.5rem);
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* SIGNUP */
.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .section__header {
  color: #fff;
  text-align: center;
}

.section--sign-up .section__title {
  margin-bottom: 6rem;
}

.section--sign-up .btn {
  font-size: clamp(1.5rem, 2vw, 1.9rem);
}

/* FOOTER */
.footer {
  padding: 5em 3em;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-bottom: 3em;
}

.footer__item {
  flex: 1 1 clamp(7rem, 20vw, 15rem);
  text-align: center;
}

.footer__link {
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: clamp(8rem, 10vw, 12rem);
  display: block;
  margin: 0 auto;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  overflow-y: auto;
  max-height: 90vh;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -5%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 2em 0.5em;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: all 0.5s;
}

.modal__header {
  font-size: clamp(2.25rem, 3vw, 3.25rem);
  margin: 0 1em 1em;
  line-height: 1.5;
}

.modal__form {
  margin: 0 1em;
  line-height: normal;
}

.modal__form label,
.budget,
.country,
.needs {
  font-size: clamp(1.3rem, 2.5vw, 1.7rem);
  font-weight: 500;
  margin: 0.5em 0.2em;
  display: block;
  border: none;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0;
  right: 0.1em;
  font-size: clamp(3rem, 8vw, 4rem);
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.needs,
.accept-terms {
  width: 95%;
  margin: 1em auto;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.accept-terms .accept {
  font-size: min(1.1rem, 2.75vw);
}
